* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	color: #ccc;
	font-family: Helvetica Neue, Verdana, sans-serif;
	font-size: 20px;
	text-align:center;
}

p {
	line-height: 1.5em;
	list-style: none;
}
p a, p a:visited {
	color: #56bff6;
	text-decoration: none;
}

	p a:hover {
		border-bottom: 1px solid #56bff6;
	}

canvas, section {
	display: block;
}

#c {
	position: absolute;
}

#attribution {
	text-align: left;
	bottom: 20px;
	position: absolute;
	right: 30px;
}

#inputform {
	position:absolute;
	top:-2px;
	width:61%;
	left:0px;
	right:0px;
	margin-left:auto;
	margin-right:auto;
	line-height: 1.5em;
	background-color:#eee;
	color:#888;
	padding:2px;
	border: 1px solid #ccc;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	-moz-border-radius-bottomright:4px;
	-moz-border-radius-bottomleft:4px;
	overflow-x:hidden;
}

input#text_field {
	color:#888;
	border:1px solid #CCC;
	-moz-border-radius:4px;
	border-radius:4px;
	padding:2px;
	font-size:16px;
}

input#submit_btn {
	font-size:16px;
	background-color:#EEE;
	border:1px solid #888;
	border-radius:4px;
	font-weight:bold;
	padding-left:2px;
	padding-right:2px;
	margin:1px;	
	color:#888;
	-moz-border-radius:4px;
}